@{ ViewBag.Title = "Contact"; }

<h2>@ViewBag.AppName - @ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>

<address>
	André Gomes<br />
	Portugal<br />
	<abbr title="Phone number">Phone: </abbr>
	N/A
</address>